@import url('https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css');

.leaflet-container {
	height: 500px;
	width: 100%;
}

.mapContainer {
	position: relative;
	width: 100%;
	height: 500px;
}

.square {
    background-color: red;
    width: 100px;
    height: 100px;

    .circle {
        width: 20px;
        height: 20px;
        background-color: blue;
        border-radius: 50px;
    }
}
